<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>New Chat</h3>
    <form method="post" class="new_form" action="/chats">
        <input type="text" placeholder="Who are u?" name="from">
        <hr>
        <br>
        <textarea name="msg" placeholder="write ur msg"></textarea>
        <br>
        <hr>
        <input type="text" placeholder="Who are u?" name="to">
        <br>
        <hr>
        <button type="submit">create chat !</button>
        <br>
        <hr>
    </form>
</body>
</html>