<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dice roll</title>
    <style>
        body{
            background-color: pink;
        }
    </style>
    <link rel="stylesheet" href="/style.css  ">
</head>
<body>
    
    <h1>The dice roll gave:<%= diceRoll %></h1>
    <p>
        <!-- <%= Math.floor(Math.random() * 6) + 1 %>
         mostly data is taken from backend so we dont use this dynamic ejs in ejs file instead we have a diff backend for the same we just ujse the variable -->
    <% if(diceRoll==6){%>
        <h1>Nice! roll again</h1>
    <%}%>
</body>
</html>